<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>purplecheer.io sdk documentation</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="images/wbash.png">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">

    <!-- below copied from www2 -->
    <link href="css/font-awesome.css" rel="stylesheet"> 
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" href="images/wbash.png" type="image/x-icon" />
    <link rel="icon" type="image/png" href="images/wbash.png" />
    <link rel="shortcut icon" href="images/wbash.png" type="image/x-icon" />
    <!-- above copied from www2 -->    
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body>
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <div class="banner1" id="home">
            <!-- header -->
            <header>
                <div class="container-fluid">
                        <!-- navigation -->
                        <div class="clearfix"></div>
                </div>
            </header>
        </div>
        <div class="doc-body">
                <div class="container-fluid">
                    
                    <div id="doc-header" class="doc-header text-center">
                        <h1 class="doc-title"><i class="icon fa fa-tasks"></i>WBash</h1>
                    </div>
                    
                    <div class="doc-body">
                        <div class="doc-content">
                            <div class="content-inner">
                                <ul class='list-group'>
                                    <li class='list-group-item list-group-item-info '>
                                        
                                        <input type="text" id="cmd" name="cmd" title="cmd - bash script" class="form-control"  placeholder="cmd - required" aria-describedby="basic-addon2">
                                        
                                        <button type="button" id="btncmd" class="btn btn-primary btn-sm">Command</button>&nbsp;<button type="button" id="btnclear" class="btn btn-primary btn-sm">Clear</button>
                                    </li>
                                </ul>
                                <ul id='results' class='list-group'>
                                    REPLResults
                               </ul>
                            </div> <!--content-inner-->
                        </div> <!-- doc-content -->
                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" style="top:0px" class="nav doc-menu" data-spy="affix">
                                <li class="list-group-item active" style="width:230px">Commands</li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                    </div> <!-- doc-body -->		
                </div><!--//container-fluid-->
        </div><!--//doc-body-->
           
         
    </div><!--//page-wrapper-->
    <div class="page-foote-barr">
		<div class="bottom-nav-cheer-bar">
            <div class="copyright">
            </div>
		</div>
   </div>
 

     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
    <script type="text/javascript" src="assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script>

    function RenderHistory(history) {  
        var strRes = ''
        strRes += "<li class='list-group-item list-group-item-info '>"
        strRes += '<form action="bash" method="post">'
        strRes += '<input type="text" id="cmd" name="cmd" title="cmd - bash script" class="form-control"  placeholder="cmd - required" aria-describedby="basic-addon2">'
        strRes += '</form>'
        strRes += '<button type="button" id="btncmd" class="btn btn-primary btn-sm">Command</button>&nbsp;<button type="button" id="btnclear" class="btn btn-primary btn-sm">Clear</button>'
        strRes += '</li>'
        strRes = ""

        var strCmds = ''
        strCmds += '<li class="list-group-item active" style="width:230px">Commands</li>'
        var strCmdValue = ''
        if (history.length) {
            strCmdValue = "value='" + history[history.length - 1].cmd + "'"
            strRes += "<li class='list-group-item list-group-item-info'>"
            
            for (var i = history.length - 1; i >= 0; i--) {
            strCmds +=
                "<li class='list-group-item' style='width:230px'><a href='#" +
                i +
                "'>" +
                history[i].cmd +
                '</a></li>'
            strRes +=
                "<li class='list-group-item list-group-item-success' id='" +
                i +
                "'>" +
                history[i].cmd +
                '</li>'
            strRes +=
                "<li class='list-group-item'><pre>" + history[i].result + '</pre></li>'
            }
            strRes += '</dl>'
            strRes += '</li>'
        }
        //strRes = strRes.replace("REPLCmdValue", strCmdValue)
        $("#results").html(strRes);
        $("#doc-menu").html(strCmds);
    }
    $(document).ready(function(){
        $(document).bind('keypress', function(e) {
            if(e.keyCode==13){
                 $('#btncmd').trigger('click');
             }
        });
        $("#btncmd").click(function(){
            if($("#cmd").val() == "")
            {
                return;
            }
            $.post("/bash", {"cmd":$("#cmd").val()}, function(data, status){
                if(status == "success")
                {
                    RenderHistory(data);
                }
            })
        })
        $("#btnclear").click(function(){
            $.post("/clear", {"cmd":"ls -l"}, function(data, status){
                if(status == "success")
                {
                    RenderHistory(data);
                }
            })
        })
    })
    </script>
    
</body>
</html> 

